[defaults]
inventory = inventory.ini
host_key_checking = False
remote_user = ec2-user
# Clé SSH du Learner Lab (à placer hors du repo, ex: ~/.ssh/labsuser.pem)
private_key_file = ~/.ssh/labsuser.pem
retry_files_enabled = False
